{% extends 'base.html' %}

{% block content %}
<p>This site is a (we hope) more useable version of the job listing site at
    <a href="https://careers.ottawa.ca/extjobsearch?sap-language=EN#">careers.ottawa.ca</a>,
    You can use this site to search the City of Ottawa career listings, which are
    updated daily and are always up-to-date with the ones found on the City website.
    The links to Apply to a listing will take you directly to the City of Ottawa
    application for that listing.
</p>

<p>
    The site also makes the raw data available in JSON format and Eluta XML, to assist
    crawling with job aggregator sites:

    <ul>
        <li>JSON: <a href="http://www.ottawacityjobs.ca/en/data/">http://www.ottawacityjobs.ca/en/data/</a></li>
        <br>
        <li>Eluta XML: <a href="http://www.ottawacityjobs.ca/eluta/">http://www.ottawacityjobs.ca/eluta/</a></li>
    </ul>
</p>

<p>This site has been made possible because the City of Ottawa releases their
    job listings as <a href="http://en.wikipedia.org/wiki/Open_data">Open Data</a>.
    That data can be found <a href="http://data.ottawa.ca/dataset/job-opportunities">here</a>
</p>

<p>The source code for this site can be found on <a href="https://github.com/ckanica/ottawajobs/">Github</a>
</p>

<p> If you have any questions about the site, you can <a href="mailto:contact@boxkite.ca">email</a> us.
</p>
{% endblock %}
