<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>jobs.punchgirls.com | Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/favicon.png">
  </head>
  <body>
      <div class="wrapper">

    <header>
      <ul id="main-navigation">
          <li id="page-title"><h1><a id="title-link" href="/">

        jobs at City of Ottawa</a></h1></li>

            <li><a href="/about">About</a></li>
            {% if lang == 'en' %}
                <li><a href="/fr">Français</a></li>
            {% else %}
                <li><a href="/en">English</a></li>
            {% endif %}
            <li><a href="/help">Help</a></li>
      </ul>
    </header>

    <section id="content">
      <p id="notices">


      </p>


    <section id="search">
      <form id="punchTokens" name="punchTokens">
          <ul id="token-list">
            <li id="last-child">
              <input id="input-field" placeholder="Search: Childcare, Paramedic, Instructor..." autocomplete="on" type="text">
            </li>
          </ul>

      <button id="search-btn" disabled><i class="fa fa-search"></i></button>

      <ul id="autocomplete-list"></ul>

        <!--<a class="link-large" href="/{{lang}}">All posts</a>

        <input type="hidden" id="query" name="query" value="All posts">-->

      </form>

        {% for job in jobs %}
            {% include 'item.html' %}
        {% endfor %}

    </section>

    </div>

    <script type="text/javascript" src="{{url_for('static', filename='js/lunr.min.js')}}"></script>

    {% block scripts %}
        <script type="text/javascript" src="{{url_for('static', filename='js/search.js')}}"></script>
    {% endblock %}

  </body>
</html>
