{% extends 'base.html' %}

{% block content %}
    <form id="punchTokens" name="punchTokens">
        <ul id="token-list">
          <li id="last-child">
            <input id="input-field" placeholder="Search: Childcare, Paramedic, Instructor..." autocomplete="on" type="text">
          </li>
        </ul>

    <button id="search-btn" disabled><i class="fa fa-search"></i></button>

    </form>

    {% for job in jobs %}
        {% include 'item.html' %}
    {% endfor %}


    <p id="noresult" style="display:none;">No results found for this query</p>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{url_for('static', filename='js/lunr.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/search.js')}}"></script>

    <script type="text/javascript">
        lang = "{{lang}}";
    </script>
{% endblock %}
