<section id="{{job['JOBREF']}}" class="listing-item">
    <img src="{{url_for('static', filename='images/ottawa-logo.jpg')}}" style="width:60px;">
    <ul>
        <li><a href="/job/{{job['JOBREF']}}">{{job['POSITION']}}</a></li>

        <li> |</li>
        <li><i class="fa fa-dollar"></i>{{job['SALARYMIN']}} - <i class="fa fa-dollar"></i>{{job['SALARYMAX']}} {{job['SALARYTYPE']}}</li>
    </ul>
    <ul id="post-details-30">
        <li><i class="fa fa-institution"></i>City Of Ottawa</li>
    </ul>
    <p class="description"> {{job['JOB_SUMMARY']|safe}}</p>

        <ul class="section-footer">
            <li>
                <span>Posted on {{job['POSTDATE']}}</span>
            </li>
            <li>
                <span>Expires on {{job['EXPIRYDATE']}}</span>
            </li>
            <li>
                <a href="{{job['JOBURL']}}"><i class="fa fa-check"></i>apply</a>
            </li>
        </ul>
    </section>
